body {
    margin: 0px;
    padding: 0px;
}
 /*-------START ABOUT --------*/
body {
    font-family: "Open Sans", sans-serif;
    background: #0c0b09;
    color: #fff;
  }
  .about {
    background: url("../img/about-bg.jpg") center center ;
    padding: 120px ;
    background-size: cover;
  }
  
  .about:before {
    content: "";
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;top: 0;left: 0; right: 0;
  }
  .about .about-img img {
    max-width: 100%;
    position: relative;
  }
   .about .fst-italic:after{
    color: #fff;
  }
  
  
  .about .about-img {
    position: relative;
    transition: all 0.5s ease-out;
  }
  
  .about .about-img::before {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 60px;
    height: 60px;
    z-index: 2;
    content: "";
    border-left: 5px solid #cda45e;
    border-top: 5px solid #cda45e;
    transition: all 0.5s ease-out;
  }
  
  .about .about-img::after {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 60px;
    height: 60px;
    z-index: 2;
    content: "";
    border-right: 5px solid #cda45e;
    border-bottom: 5px solid #cda45e;
    transition:  all 0.5s ease;
  }
  
  .about .about-img:hover {
    transform: scale(1.06);
  }
  
  .about .about-img:hover::before {
    left: 10px;
    top: 10px;
  }
  
  .about .about-img:hover::after {
    right: 10px;
    bottom: 10px;
  }
  
   h3 {
    font-weight: 600;
    font-size: 26px;
  }
  
   .ul {
    list-style: none;
    padding: 0;
    
    padding-bottom: 10px;
  }
  
  .ul li {
    padding-bottom: 10px;
  }
  
   .ul i {
    font-size: 20px;
    color: #fabf5a;
  }
  
  @media (min-width: 1024px) {
    .about {
      background-attachment: fixed;
    }
  }
  .about p{
    margin-bottom: 0;
  }
  
  .title{
    margin-top: 20px;
  }
  .whyus .square {
    padding: 40px 20px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    transition: all ease-in-out 0.3s;
    background: #1a1814;
  }
  
   .span {
    font-size: 25px;
    color: #cda45e;
  }
   .h4 {
    font-size: 24px;
    padding: 0;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.8);
  }
  
   .p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
    padding: 0;
  }
  
  .whyus .square:hover {
    background: #f3d16b;
    padding: 30px 30px 70px 30px;
  }
  .whyus .square:hover span{
    color: rgb(7, 2, 2) ;
  }
  .whyus .square:hover h3{
    color:black ;
  }
  .whyus .square:hover p{
    color: black;
  }
  /*-----------END ABOUT---------->
  /*----------- START CHEFS----------->*/
  body{
font-family: "Trirong", serif ;
background-color: black;
color: #fff;
padding: 80px;
}
.h2{
    color: rgb(255, 197, 125);
    margin-bottom: 70px;
}
.img{
display: flex;
justify-content: space-between ;
gap: 30px;
overflow: hidden;

background: #343a40;
}
.p{
    font-size: 18px;
    color: rgb(255, 197, 125);
    
}


.img-content {
  opacity: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
  text-align: center;
}

.img .content {
  position: absolute;
  left: 0;
  bottom: 35px;
  transition: bottom 0.4s;

}
.h4{
  font-size: 25px;
  color: #fff;
  margin-bottom: 5px;
  text-align: center;
}

.img .content .span{
  font-size: 18px;
  color: #fff;
  margin-top: 0px;
}
 .media {
  position: absolute;
left: 1px;right: 1px;
  bottom: 0px;
  height: 60px;
  transition: bottom ease-in-out 0.4s;
  text-align: center;
  
}

.media {
  transition: color 0.3s;
  color: rgb(250, 249, 252);
  margin: 0 10px;
  justify-content: space-between;
  gap: 5px;
 
}

.img .media:hover {
  color: #cda45e;
  bottom: 0;
  transition: bottom ease-in-out 0.6s;
}
.img:hover .content{
    color: #faf9f6;
    bottom: 70px;
    transition: bottom 0.7s;
  }
  .content .h4:hover{
    color: #cda45e;
  }
  .content .span:hover{
    color: #cda45e;
  }

.img .media i {
  font-size: 18px;
}

.img .img-content:hover{
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.7) 20%, rgba(0, 200, 255, 0) 100%);
  opacity: 1;
}
/*------------------END CHEFS--------------->